## Uber Eats USA Restaurants and Menus
[Dataset found on kaggle](https://www.kaggle.com/datasets/ahmedshahriarsakib/uber-eats-usa-restaurants-menus)

Scraped by a [user](https://www.kaggle.com/ahmedshahriarsakib), Ahmed Shahriar Sakib, in 2022

Contains 63k USA restaurants and 5 million menu items

In [43]:
import pandas as pd

In [ ]:
# bring in restaurants csv
restaurants = pd.read_csv("uber-eats/restaurants.csv")
print(restaurants.shape)
for i in range(len(restaurants.columns)):
    print(restaurants.columns[i])
restaurants.head()

(63469, 11)
id
position
name
score
ratings
category
price_range
full_address
zip_code
lat
lng

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
0,1,19,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",$,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",NaN,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",$,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,$,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",NaN,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700

In [33]:
# what is the category column data type?
print(f'data type: {restaurants['category'].dtype}\n')

# restaurant categories
restaurant_categories = restaurants['category'].value_counts()
print(f'shape: {restaurant_categories.shape}\n')
print(restaurant_categories)

data type: object

shape: (15574,)

category
Burgers, American, Sandwiches                         2439
Mexican, Latin American, New Mexican                  2273
Fast Food, Sandwich, American                         1196
American, Burgers, Fast Food                           995
Pizza, American, Italian                               961
                                                      ...
Vietnamese, Noodles, Ramen                               1
Steak, American, Fast Food, Exclusive to Eats            1
Sandwich, Salads, European, Healthy                      1
Wings, Traditional American, Burgers, Family Meals       1
Burgers, Fried Chicken, Rice Dishes                      1
Name: count, Length: 15574, dtype: int64

In [35]:
# save categories to csv
restaurant_categories.to_csv("uber-eats/restaurant_categories.csv")

In [ ]:
# get all the rows where 'Chinese' is in the category column
chinese_restaurants = restaurants[restaurants['category'].str.contains('Chinese', na=False)]
print(f'shape: {chinese_restaurants.shape}\n')
chinese_restaurants.head()

# there are 2517 restaurants that serve chinese food

shape: (2517, 11)

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
7,8,26,Little India,NaN,NaN,"Vegetarian, Asian, Asian Fusion, Chinese, Indi...",$,"2236 Highland Ave, Birmingham, AL, 35205",35205,33.502259,-86.790298
47,48,9,China Master Express,4.6,28.0,"Chinese, Comfort Food",NaN,"1801 4th Ave S, Birmingham, AL, 35233",35233,33.507610,-86.804820
50,51,70,China 1,NaN,NaN,"Chinese, Chicken, Noodles",NaN,"357 Walker Chapel Plz, Fultondale, AL, 35068",35068,33.611210,-86.797420
55,56,61,Great Wall Chinese Restaurant,4.6,100.0,"Chinese, Seafood, Noodles",NaN,"706 Valley Ave, Birmingham, AL, 35209",35209,33.476417,-86.815683
56,57,56,Yoe Xpress (28th Ave S),4.5,35.0,"Chinese, Asian, Cantonese",NaN,"1919 28th Ave S, Birmingham, AL, 35209",35209,33.480930,-86.787830

In [ ]:
# bring in menu items csv
menus = pd.read_csv("uber-eats/restaurant-menus.csv")
print(f'shape: {menus.shape}\n')
for i in range(len(menus.columns)):
    print(menus.columns[i])
menus.head()

# 5,117,217 individual menu items

shape: (5117217, 5)

restaurant_id
category
name
description
price

,restaurant_id,category,name,description,price
0,1,Extra Large Pizza,Extra Large Meat Lovers,Whole pie.,15.99 USD
1,1,Extra Large Pizza,Extra Large Supreme,Whole pie.,15.99 USD
2,1,Extra Large Pizza,Extra Large Pepperoni,Whole pie.,14.99 USD
3,1,Extra Large Pizza,Extra Large BBQ Chicken &amp; Bacon,Whole Pie,15.99 USD
4,1,Extra Large Pizza,Extra Large 5 Cheese,Whole pie.,14.99 USD

In [ ]:
# use restaurant ids to extract chinese restaurants only
chinese_menu_items = menus[menus['restaurant_id'].isin(chinese_restaurants['id'])]
print(f'shape: {chinese_menu_items.shape}\n')
chinese_menu_items.head()

shape: (241149, 5)

,restaurant_id,category,name,description,price
392,8,Tacos,Chorizo,NaN,2.49 USD
393,8,Tacos,Chicken (Pollo),NaN,2.49 USD
394,8,Tacos,Breaded Chicken (Milanesa de Pollo),NaN,2.49 USD
395,8,Tacos,Steak (Asada),NaN,2.49 USD
396,8,Tacos,Mixed Meat (Campechano),NaN,2.49 USD

In [39]:
# save to csv
chinese_menu_items.to_csv("uber-eats/chinese_menu_items.csv", index=False)

In [47]:
# looking into a specific restaurant to see if IDs match up
# id 8 might be mismatched (serves only tacos?)
restaurant_check = chinese_restaurants[chinese_restaurants['id'] == 5969]
restaurant_check

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
5968,5969,18,China Chef,4.4,95.0,"Chinese, Asian",$,"34500 North Highway 45, Third Lake, IL, 60030",60030,42.364181,-88.000279

In [ ]:
# menu item categories
menu_categories = chinese_menu_items['category'].value_counts()
print(f'shape: {menu_categories.shape}\n')
print(menu_categories)

shape: (6700,)

category
Appetizers                               13384
Picked for you                           10754
Chicken                                   8378
Seafood                                   8273
Beef                                      8122
                                         ...
Pan-Fried                                    1
Rice, Noodle, and Egg Foo Young Lunch        1
Beef Lunch                                   1
Poultry Lunch                                1
Wing, Wing, and Drumstick                    1
Name: count, Length: 6700, dtype: int64

In [30]:
# save to csv
menu_categories.to_csv("uber-eats/menu_categories.csv")

In [48]:
menu_check = chinese_menu_items[chinese_menu_items['restaurant_id'] == 5969]
menu_check

,restaurant_id,category,name,description,price
493451,5969,Picked for you,47 Sweet and Sour Chicken 酸甜鸡肉,Served with white rice.\n附白米饭。,8.45 USD
493452,5969,Picked for you,S14 Orange Chicken 陈皮鸡肉,Served with white rice.\n附白米饭。,13.45 USD
493453,5969,Picked for you,25 Shrimp Fried Rice 虾仁炒饭,NaN,8.25 USD
493454,5969,Picked for you,24 Chicken Fried Rice 鸡肉炒饭,NaN,7.65 USD
493455,5969,Picked for you,28 House Special Fried Rice 本楼特色炒饭,NaN,8.45 USD
...,...,...,...,...,...
493620,5969,Chef's Specialties 主厨特色,S27 Pan-Fried Noodle with Chicken and Shrimp 鸡...,Served with white rice.\n附白米饭。,14.75 USD
493621,5969,Chef's Specialties 主厨特色,"S28 Hawaiian Five ""o"" 夏威夷五样","Served with white rice. Served with shrimp, ch...",15.0 USD
493622,5969,Chef's Specialties 主厨特色,S29 Hong Sue Chicken 红血鸡肉,Served with white rice.\n附白米饭。,14.25 USD
493623,5969,Chef's Specialties 主厨特色,S30 Black Pepper Chicken 黑胡椒鸡肉,Served with white rice.\n附白米饭。,14.25 USD
493624,5969,Chef's Specialties 主厨特色,S31 Bourbon Chicken 棒棒鸡,Served with white rice.\n附白米饭。,14.5 USD